# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sh text eol=lf
Makefile* text eol=lf
Dockerfile* text eol=lf
*.java text eol=lf
*.adoc text eol=lf
*.html text eol=lf
*.tmpl text eol=lf
*.xml text eol=lf
